Repository nautobot/nautobot-app-ssot, pull requests merged in 2023-09, with the labels that each got.

#137 Add IPFabric integration
  .github/workflows/ci.yml
  development/Dockerfile
  development/creds.example.env
  development/development.env
  development/nautobot_config.py
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/ipfabric/__init__.py
  nautobot_ssot/integrations/ipfabric/constants.py
  nautobot_ssot/integrations/ipfabric/diffsync/__init__.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapters_shared.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/ipfabric/signals.py
  nautobot_ssot/integrations/ipfabric/utilities/__init__.py
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/integrations/ipfabric/utilities/test_utils.py
  nautobot_ssot/integrations/ipfabric/workers.py
  nautobot_ssot/static/nautobot_ssot_ipfabric/ipfabric.png
  nautobot_ssot/static/nautobot_ssot_ipfabric/ipfabric_logo.png
  nautobot_ssot/tests/ipfabric/__init__.py
  nautobot_ssot/tests/ipfabric/fixtures/__init__.py
  nautobot_ssot/tests/ipfabric/fixtures/get_device_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_interface_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_sites.json
  nautobot_ssot/tests/ipfabric/fixtures/get_vlans.json
  nautobot_ssot/tests/ipfabric/test_ipfabric_adapter.py
  nautobot_ssot/tests/ipfabric/test_jobs.py
  nautobot_ssot/tests/ipfabric/test_nautobot_adapter.py
  nautobot_ssot/tests/ipfabric/test_nbutils.py
  poetry.lock
  pyproject.toml
Labels: status: action required

#200 Enable RC2 Support
  .github/workflows/ci.yml
  nautobot_ssot/jobs/__init__.py
  nautobot_ssot/jobs/base.py
  nautobot_ssot/models.py
  nautobot_ssot/templates/nautobot_ssot/dashboard.html
  nautobot_ssot/templates/nautobot_ssot/data_source_target.html
  nautobot_ssot/templatetags/dashboard_helpers.py
  nautobot_ssot/tests/test_models.py
  nautobot_ssot/tests/test_views.py
  nautobot_ssot/views.py
  poetry.lock
  pyproject.toml
Labels: enhancement, type: minor feature

#161 Reverts ChatOps dependency removal
  development/nautobot_config.py
  nautobot_ssot/integrations/ipfabric/workers.py
  poetry.lock
  pyproject.toml
  tasks.py
Labels: status: action required

#213 fix: :bug: Several fixes in the ACI integration
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
  nautobot_ssot/integrations/aci/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aci/jobs.py
Labels: status: action required, integration-ciscoaci

#205 Migrate PR #164 from Arista Child Repo
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/tests/aristacv/test_utils_cloudvision.py
Labels: status: action required, type: bug, integration-cloudvision

#212 Add IPFabric Integration
  development/creds.example.env
  development/development.env
  development/nautobot_config.py
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/ipfabric/__init__.py
  nautobot_ssot/integrations/ipfabric/constants.py
  nautobot_ssot/integrations/ipfabric/diffsync/__init__.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapters_shared.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/ipfabric/signals.py
  nautobot_ssot/integrations/ipfabric/utilities/__init__.py
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/integrations/ipfabric/utilities/test_utils.py
  nautobot_ssot/integrations/ipfabric/workers.py
  nautobot_ssot/static/nautobot_ssot_ipfabric/ipfabric.png
  nautobot_ssot/static/nautobot_ssot_ipfabric/ipfabric_logo.png
  nautobot_ssot/tests/ipfabric/__init__.py
  nautobot_ssot/tests/ipfabric/fixtures/__init__.py
  nautobot_ssot/tests/ipfabric/fixtures/get_device_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_interface_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_sites.json
  nautobot_ssot/tests/ipfabric/fixtures/get_vlans.json
  nautobot_ssot/tests/ipfabric/test_ipfabric_adapter.py
  nautobot_ssot/tests/ipfabric/test_jobs.py
  nautobot_ssot/tests/ipfabric/test_nautobot_adapter.py
  nautobot_ssot/tests/ipfabric/test_nbutils.py
  poetry.lock
  pyproject.toml
Labels: type: minor feature, integration-ipfabric
