Repository nautobot/nautobot-app-ssot, pull requests merged in 2023-11, with the labels that each got.

#246 IPFabric integration settings updates for 2.0
  development/nautobot_config.py
  docs/admin/integrations/ipfabric_setup.md
  nautobot_ssot/integrations/ipfabric/constants.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/ipfabric/workers.py
Labels: type: bug, integration-ipfabric

#275 Fix CustomField Bug
  docs/user/integrations/ipfabric.md
  nautobot_ssot/integrations/device42/utils/nautobot.py
  nautobot_ssot/integrations/infoblox/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/infoblox/signals.py
  nautobot_ssot/integrations/infoblox/utils/diffsync.py
  nautobot_ssot/integrations/ipfabric/constants.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/ipfabric/signals.py
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/integrations/servicenow/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/servicenow/signals.py
  nautobot_ssot/migrations/0007_replace_dashed_custom_fields.py
  nautobot_ssot/tests/device42/unit/test_utils_nautobot.py
Labels: type: bug, integration: servicenow, integration: infoblox, integration: ipfabric, integration:device42

#282 Fix CloudVision SSoT Jobs
  nautobot_ssot/integrations/aristacv/jobs.py
Labels: type: bug, integration: cloudvision
