Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-01, with the labels that each got.

#319 Arista CVP Integration Fixes
  development/nautobot_config.py
  nautobot_ssot/integrations/aristacv/constant.py
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aristacv/diffsync/models/base.py
  nautobot_ssot/integrations/aristacv/diffsync/models/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/jobs.py
  nautobot_ssot/integrations/aristacv/signals.py
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/integrations/aristacv/utils/nautobot.py
  nautobot_ssot/integrations/device42/signals.py
  nautobot_ssot/tests/aristacv/test_cloudvision_adapter.py
  nautobot_ssot/tests/aristacv/test_jobs.py
  nautobot_ssot/tests/aristacv/test_utils_cloudvision.py
  nautobot_ssot/tests/aristacv/test_utils_nautobot.py
  nautobot_ssot/tests/device42/unit/test_utils_nautobot.py
Labels: type: bug, integration: cloudvision

#326 Fix ipfabric create_location to use correct arg name
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/tests/ipfabric/test_nbutils.py
Labels: type: bug, integration: ipfabric

#327 BugFix: account for VLAN not having VLANGroup
  nautobot_ssot/integrations/infoblox/utils/nautobot.py
  nautobot_ssot/tests/infoblox/test_utils.py
Labels: type: bug, integration: infoblox

#334 Add support for Platform to IPFabric
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/utilities/__init__.py
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/tests/ipfabric/fixtures/get_device_inventory.json
  nautobot_ssot/tests/ipfabric/test_ipfabric_adapter.py
  nautobot_ssot/tests/ipfabric/test_nautobot_adapter.py
  nautobot_ssot/tests/ipfabric/test_nbutils.py
Labels: type: enhancement, integration: ipfabric

#336 IPFabric use actual interface type instead of config value
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
Labels: type: bug, integration: ipfabric

#333 Allow Exceptions To Fail Job
  nautobot_ssot/jobs/base.py
Labels: status: accepted, type: bug

#339 Fix ACI LocationType Bug
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
Labels: type: bug, integration: ciscoaci
