Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-08, with the labels that each got.

#503 Pagination in Infoblox client
  changes/504.added
  nautobot_ssot/integrations/infoblox/utils/client.py
  nautobot_ssot/tests/device42/unit/test_models_nautobot_ipam.py
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_list.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_page_1.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_page_2.json
  nautobot_ssot/tests/infoblox/fixtures_infoblox.py
  nautobot_ssot/tests/infoblox/test_client.py
Labels: type: enhancement, integration: infoblox

#471 Update Integrations for Controllers/ExternalIntegration
  development/development.env
  development/nautobot_config.py
  docs/admin/integrations/aci_setup.md
  docs/admin/integrations/device42_setup.md
  docs/images/device42_externalintegration.png
  docs/images/device42_job-form.png
  docs/images/device42_password.png
  docs/images/device42_secretsgroup.png
  docs/images/device42_username.png
  docs/user/integrations/device42.md
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
  nautobot_ssot/integrations/aci/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/models/base.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aci/jobs.py
  nautobot_ssot/integrations/aci/signals.py
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/ipam.py
  nautobot_ssot/integrations/device42/jobs.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/ipfabric/utilities/nbutils.py
  nautobot_ssot/integrations/ipfabric/workers.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/attachment.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/client.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/criterion.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/enums.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/legacy_exceptions.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/legacy_request.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/oauth_client.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/params_builder.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/query_builder.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/request.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/resource.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/response.py
  nautobot_ssot/integrations/servicenow/third_party/pysnow/url_builder.py
  nautobot_ssot/integrations/utils.py
  nautobot_ssot/migrations/0009_ssotconfig_ssotinfobloxconfig.py
  nautobot_ssot/migrations/0010_automationgatewaymodel.py
  nautobot_ssot/tests/device42/unit/test_models_nautobot_ipam.py
  nautobot_ssot/tests/infoblox/test_infoblox_models.py
  nautobot_ssot/tests/infoblox/test_models.py
  nautobot_ssot/tests/infoblox/test_nautobot_models.py
  nautobot_ssot/tests/itential/fixtures/base.py
  nautobot_ssot/tests/itential/fixtures/devices.py
  nautobot_ssot/utils.py
  poetry.lock
  pyproject.toml
Labels: type: enhancement, integration: servicenow, integration: infoblox, integration: ciscoaci, integration: ipfabric, integration: cloudvision, integration: device42

#460 Add DNA Center Integration
  README.md
  changes/451.added
  development/development.env
  development/nautobot_config.py
  docs/admin/install.md
  docs/admin/integrations/dna_center_setup.md
  docs/admin/upgrade.md
  docs/requirements.txt
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/__init__.py
  nautobot_ssot/integrations/dna_center/constants.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/__init__.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/__init__.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/jobs.py
  nautobot_ssot/integrations/dna_center/signals.py
  nautobot_ssot/integrations/dna_center/utils/__init__.py
  nautobot_ssot/integrations/dna_center/utils/dna_center.py
  nautobot_ssot/integrations/dna_center/utils/nautobot.py
  nautobot_ssot/static/nautobot_ssot_dna_center/dna_center_logo.png
  nautobot_ssot/tests/dna_center/__init__.py
  nautobot_ssot/tests/dna_center/fixtures.py
  nautobot_ssot/tests/dna_center/fixtures/expected_areas.json
  nautobot_ssot/tests/dna_center/fixtures/expected_areas_wo_global.json
  nautobot_ssot/tests/dna_center/fixtures/expected_buildings.json
  nautobot_ssot/tests/dna_center/fixtures/expected_dnac_location_map.json
  nautobot_ssot/tests/dna_center/fixtures/expected_dnac_location_map_wo_global.json
  nautobot_ssot/tests/dna_center/fixtures/expected_floors.json
  nautobot_ssot/tests/dna_center/fixtures/get_device_detail.json
  nautobot_ssot/tests/dna_center/fixtures/get_device_detail_recv.json
  nautobot_ssot/tests/dna_center/fixtures/get_devices.json
  nautobot_ssot/tests/dna_center/fixtures/get_devices_recv.json
  nautobot_ssot/tests/dna_center/fixtures/get_locations.json
  nautobot_ssot/tests/dna_center/fixtures/get_locations_recv.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info_recv.json
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/dna_center/test_adapters_nautobot.py
  nautobot_ssot/tests/dna_center/test_jobs.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
  nautobot_ssot/tests/dna_center/test_utils_dna_center.py
  poetry.lock
  pyproject.toml
Labels: type: major feature, integration: dna center

#486 Fixing issues in ACI integration
  changes/491.changed
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
  nautobot_ssot/integrations/aci/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/client.py
  nautobot_ssot/integrations/aci/diffsync/device-types/APIC-SERVER-L3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/APIC-SERVER-M3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93180YC-FX3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93360YC-FX2.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93600CD-GX.yaml
  nautobot_ssot/integrations/aci/diffsync/models/base.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/utils.py
  nautobot_ssot/integrations/aci/jobs.py
  nautobot_ssot/integrations/aci/signals.py
  nautobot_ssot/tests/aci/test_api.py
Labels: type: bug, integration: ciscoaci

#510 Release v2.8.0
  changes/484.housekeeping
  docs/admin/compatibility_matrix.md
  docs/admin/integrations/infoblox_setup.md
  docs/admin/release_notes/version_2.8.md
  mkdocs.yml
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
  nautobot_ssot/integrations/aci/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/client.py
  nautobot_ssot/integrations/aci/diffsync/device-types/APIC-SERVER-L3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/APIC-SERVER-M3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93180YC-FX3.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93360YC-FX2.yaml
  nautobot_ssot/integrations/aci/diffsync/device-types/N9K-C93600CD-GX.yaml
  nautobot_ssot/integrations/aci/diffsync/models/base.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/utils.py
  nautobot_ssot/integrations/aci/jobs.py
  nautobot_ssot/integrations/aci/signals.py
  nautobot_ssot/integrations/infoblox/utils/client.py
  nautobot_ssot/tests/aci/test_api.py
  nautobot_ssot/tests/device42/unit/test_models_nautobot_ipam.py
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_list.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_page_1.json
  nautobot_ssot/tests/infoblox/fixtures/get_all_subnets_page_2.json
  nautobot_ssot/tests/infoblox/fixtures_infoblox.py
  nautobot_ssot/tests/infoblox/test_client.py
  nautobot_ssot/tests/ipfabric/test_nbutils.py
  nautobot_ssot/tests/itential/fixtures/devices.py
  pyproject.toml
Labels: type: major feature, integration: infoblox, integration: ciscoaci, integration: ipfabric

#516 Fix RTD for 3.0.0
  changes/516.dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Labels: type: bug, type: documentation

#519 Fix DataTarget Example Job
  changes/507.fixed
  nautobot_ssot/jobs/examples.py
Labels: type: bug, integration: contrib
