Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-03, with the labels that each got.

#375 Add support to IPFabric for VirtualChassis/Stacks
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/tests/ipfabric/fixtures/get_device_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_sites.json
  nautobot_ssot/tests/ipfabric/fixtures/get_stack_members.json
  nautobot_ssot/tests/ipfabric/test_ipfabric_adapter.py
  nautobot_ssot/tests/ipfabric/test_nautobot_adapter.py
Labels: type: enhancement, integration: infoblox

#379 Add LCM plugin config. Fix 'infoblox_import_subnets` setting.
  development/nautobot_config.py
  docs/admin/integrations/infoblox_setup.md
Labels: integration: infoblox

#385 Add warning for Device Types with Interfaces
  changes/359.added
  docs/dev/jobs.md
Labels: type: documentation
