Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-10, with the labels that each got.

#559 Fix VRF Attribute in ACI Prefix.create()
  changes/558.fixed
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
Labels: type: bug, integration: ciscoaci

#541 Bootstrap ssot integration
  .github/CODEOWNERS
  changes/541.added
  changes/541.documentation
  development/creds.example.env
  development/nautobot_config.py
  docs/admin/integrations/bootstrap_setup.md
  docs/admin/integrations/index.md
  docs/admin/release_notes/version_1.5.md
  docs/user/integrations/bootstrap.md
  docs/user/integrations/index.md
  invoke.example.yml
  mkdocs.yml
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/bootstrap/__init__.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/__init__.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/__init__.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/base.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/bootstrap/fixtures/develop.yml
  nautobot_ssot/integrations/bootstrap/fixtures/global_settings.yml
  nautobot_ssot/integrations/bootstrap/fixtures/production.yml
  nautobot_ssot/integrations/bootstrap/fixtures/staging.yml
  nautobot_ssot/integrations/bootstrap/jobs.py
  nautobot_ssot/integrations/bootstrap/signals.py
  nautobot_ssot/integrations/bootstrap/utils/__init__.py
  nautobot_ssot/integrations/bootstrap/utils/bootstrap.py
  nautobot_ssot/integrations/bootstrap/utils/nautobot.py
  nautobot_ssot/tests/bootstrap/__init__.py
  nautobot_ssot/tests/bootstrap/fixtures/develop.json
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/fixtures/production.json
  nautobot_ssot/tests/bootstrap/test_bootstrap_adapter.py
  nautobot_ssot/tests/bootstrap/test_nautobot_adapter.py
  nautobot_ssot/tests/bootstrap/test_setup.py
  nautobot_ssot/utils.py
  poetry.lock
  pyproject.toml
Labels: type: major feature, integration: bootstrap

#570 Add Missing Links in Documentation
  changes/569.documentation
  docs/admin/install.md
Labels: type: documentation

#572 Ensure URL Scheme in POST
  changes/571.fixed
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
Labels: type: bug, integration: cloudvision

#580 Handle RpcError in CVP
  changes/467.fixed
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/tests/aristacv/test_utils_cloudvision.py
Labels: type: bug, integration: cloudvision

#586 Fix Bootstrap for DLM 3.0 and Correct Docs
  README.md
  changes/585.documentation
  changes/585.fixed
  changes/585.housekeeping
  development/creds.example.env
  development/development.env
  docs/admin/integrations/bootstrap_setup.md
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/bootstrap/jobs.py
  nautobot_ssot/integrations/bootstrap/signals.py
  poetry.lock
  pyproject.toml
Labels: type: bug, type: documentation, integration: bootstrap

#589 Re-add Hostname Mapping Feature to DNA Center
  changes/588.added
  changes/588.fixed
  changes/588.removed
  docs/images/dnac_job_form.png
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/jobs.py
  nautobot_ssot/integrations/dna_center/signals.py
  nautobot_ssot/tests/dna_center/fixtures/expected_dnac_location_map.json
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
Labels: type: bug, type: documentation, integration: dna center
