Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-04, with the labels that each got.

#405 Fix example jobs
  changes/367.added
  changes/367.fixed
  nautobot_ssot/jobs/examples.py
Labels: type: bug, integration: contrib

#419 Fix Device42 Plugin Settings for LTM
  nautobot_ssot/integrations/device42/diffsync/adapters/device42.py
  nautobot_ssot/integrations/device42/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/assets.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/circuits.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/dcim.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/ipam.py
  nautobot_ssot/tests/device42/unit/test_device42_adapter.py
Labels: type: bug, integration: device42

#263 Ssot snow delete function
  nautobot_ssot/integrations/servicenow/diffsync/adapter_servicenow.py
  nautobot_ssot/integrations/servicenow/diffsync/models.py
  nautobot_ssot/integrations/servicenow/jobs.py
Labels: type: minor feature, integration: servicenow

#435 Fix DLM App RuntimeError
  changes/427.housekeeping
  changes/435.fixed
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/utils/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/dcim.py
  nautobot_ssot/integrations/device42/utils/nautobot.py
Labels: type: bug, integration: cloudvision, integration: device42

#438 [Infoblox] Replace `requests.request` with `requests.Session` in the Infoblox API client.
  changes/437.changed
  nautobot_ssot/integrations/infoblox/utils/client.py
Labels: type: enhancement, integration: infoblox
