Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-12, with the labels that each got.

#613 fix: 🐛 fix issue #612 loading platforms with no manufacturer
  changes/612.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
Labels: type: bug, integration: bootstrap

#617 Ensure that Devices without a Platform are not loaded.
  changes/616.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
Labels: type: bug, integration: dna center

#615 fix: 🐛 Pydantic errors and field normalization issues
  changes/614.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/base.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/bootstrap/fixtures/global_settings.yml
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/test_setup.py
Labels: type: bug, integration: bootstrap

#622 fix: 🐛 fix ASN update on location objects
  changes/621.fixed
  docs/user/integrations/bootstrap.md
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: bug, integration: bootstrap

#625 Correct Floors Being Loaded in DNAC When Location Map Used
  changes/624.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
Labels: type: bug, integration: dna center

#627 Fix SoftwareVersion assignment during Device update.
  changes/626.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/utils/nautobot.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
Labels: type: bug, integration: dna center

#637 Service Now Integration - Fixes issue #634
  changes/634.fixed
  nautobot_ssot/integrations/servicenow/diffsync/adapter_nautobot.py
Labels: type: bug, integration: servicenow
