Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-05, with the labels that each got.

#450 Add Missing Attribution
  README.md
  changes/450.documentation
  development/creds.example.env
  development/development.env
  development/docker-compose.mysql.yml
  development/nautobot_config.py
Labels: type: documentation, integration: device42

#456 Fix CI for Device42 Test
  changes/456.fixed
  nautobot_ssot/tests/device42/unit/test_utils_device42.py
Labels: type: bug, integration: device42

#433 Update Diffsync to 2.0.0 and perform Linting
  changes/433.changed
  changes/433.dependencies
  changes/433.housekeeping
  development/docker-compose.base.yml
  development/docker-compose.dev.yml
  development/docker-compose.mysql.yml
  development/docker-compose.postgres.yml
  development/docker-compose.redis.yml
  development/nautobot_config.py
  docs/dev/debugging.md
  docs/dev/jobs.md
  docs/dev/upgrade.md
  docs/user/performance.md
  mkdocs.yml
  nautobot_ssot/contrib/adapter.py
  nautobot_ssot/contrib/model.py
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
  nautobot_ssot/integrations/aci/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aci/diffsync/models/base.py
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/aristacv/diffsync/models/base.py
  nautobot_ssot/integrations/aristacv/diffsync/models/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/adapters/device42.py
  nautobot_ssot/integrations/device42/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/models/base/assets.py
  nautobot_ssot/integrations/device42/diffsync/models/base/circuits.py
  nautobot_ssot/integrations/device42/diffsync/models/base/dcim.py
  nautobot_ssot/integrations/device42/diffsync/models/base/ipam.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/assets.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/circuits.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/dcim.py
  nautobot_ssot/integrations/device42/diffsync/models/nautobot/ipam.py
  nautobot_ssot/integrations/device42/utils/device42.py
  nautobot_ssot/integrations/device42/utils/nautobot.py
  nautobot_ssot/integrations/infoblox/diffsync/adapters/infoblox.py
  nautobot_ssot/integrations/infoblox/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/infoblox/diffsync/models/base.py
  nautobot_ssot/integrations/infoblox/diffsync/models/infoblox.py
  nautobot_ssot/integrations/infoblox/diffsync/models/nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapters_shared.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/servicenow/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/servicenow/diffsync/adapter_servicenow.py
  nautobot_ssot/integrations/servicenow/diffsync/models.py
  nautobot_ssot/jobs/examples.py
  nautobot_ssot/tests/contrib_base_classes.py
  nautobot_ssot/tests/device42/unit/test_device42_adapter.py
  nautobot_ssot/tests/device42/unit/test_models_nautobot_ipam.py
  nautobot_ssot/tests/device42/unit/test_utils_nautobot.py
  nautobot_ssot/tests/infoblox/test_infoblox_adapter.py
  nautobot_ssot/tests/test_contrib_adapter.py
  nautobot_ssot/tests/test_contrib_model.py
  poetry.lock
  pyproject.toml
Labels: status: accepted, type: enhancement, type: major feature, integration: servicenow, integration: infoblox, integration: ciscoaci, integration: ipfabric, integration: cloudvision, integration: device42, integration: contrib

#464 Correct CVP Integration Call to get_devices()
  changes/463.fixed
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
Labels: type: bug, integration: cloudvision
