Repository nautobot/nautobot-app-ssot, pull requests merged in 2024-11, with the labels that each got.

#594 Various Bugfixes
  .github/CODEOWNERS
  changes/593.added
  changes/593.fixed
  changes/593.housekeeping
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/meraki/diffsync/models/base.py
  nautobot_ssot/integrations/meraki/diffsync/models/meraki.py
  nautobot_ssot/integrations/meraki/diffsync/models/nautobot.py
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/meraki/test_models_nautobot.py
Labels: type: bug, type: enhancement, integration: dna center, integration: itential, integration: bootstrap, integration: meraki

#595 Fix CustomField Migration
  changes/411.fixed
  nautobot_ssot/migrations/0007_replace_dashed_custom_fields.py
Labels: type: bug

#560 SSoT ServiceNow fixes and updates for Nautobot 2.0
  changes/449.added
  changes/449.fixed
  nautobot_ssot/integrations/servicenow/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/servicenow/diffsync/adapter_servicenow.py
  nautobot_ssot/integrations/servicenow/jobs.py
Labels: type: bug, integration: servicenow

#605 Add Missing Acknowledgements and Code Owner
  .github/CODEOWNERS
  README.md
  changes/605.documentation
  changes/605.housekeeping
Labels: type: documentation, integration: citrix adm

#607 Fix hostname_mapping in Citrix ADM
  changes/607.fixed
  changes/607.housekeeping
  nautobot_ssot/integrations/citrix_adm/jobs.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  nautobot_ssot/integrations/meraki/utils/meraki.py
Labels: integration: meraki, integration: citrix adm
