Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-02, with the labels that each got.

#677 Add ScheduledJob Model
  changes/677.added
  development/nautobot_config.py
  docs/admin/integrations/bootstrap_setup.md
  docs/user/integrations/bootstrap.md
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/base.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/bootstrap/fixtures/global_settings.yml
  nautobot_ssot/integrations/bootstrap/signals.py
  nautobot_ssot/integrations/bootstrap/utils/__init__.py
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/test_setup.py
Labels: type: enhancement, type: minor feature, integration: bootstrap

#688 Add Metadata to DNA Center Integration
  changes/632.added
  docs/user/integrations/dna_center.md
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/signals.py
  nautobot_ssot/integrations/dna_center/utils/nautobot.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
Labels: type: enhancement, integration: dna center

#694 Sync Main to Develop for 3.5.0
  changes/564.fixed
  changes/654.fixed
  changes/666.fixed
  changes/672.added
  changes/675.dependencies
  changes/677.added
  changes/680.fixed
  changes/681.fixed
  changes/686.changed
  docs/admin/compatibility_matrix.md
  docs/admin/release_notes/version_3.5.md
  mkdocs.yml
  pyproject.toml
Labels: type: housekeeping

#698 ACI integration: Change _tag.validated_save() to _tag.save()
  changes/697.fixed
  nautobot_ssot/integrations/aci/signals.py
Labels: type: bug, integration: ciscoaci

#707 Add exceptions to sync
  changes/707.fixed
  nautobot_ssot/integrations/slurpit/diffsync/adapters/slurpit.py
Labels: type: bug, integration: slurpit

#713 Fix DNA Center Location Structure
  changes/687.fixed
  docs/requirements.txt
  nautobot_ssot/integrations/dna_center/diff.py
  nautobot_ssot/integrations/dna_center/jobs.py
  poetry.lock
  pyproject.toml
Labels: type: bug, integration: dna center

#705 Add custom_field support for Bootstrap integration.
  changes/705.added
  development/nautobot_config.py
  docs/admin/integrations/bootstrap_setup.md
  docs/user/integrations/bootstrap.md
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/base.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/bootstrap/fixtures/global_settings.yml
  nautobot_ssot/integrations/bootstrap/signals.py
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/test_nautobot_adapter.py
  nautobot_ssot/tests/bootstrap/test_setup.py
Labels: integration: bootstrap, type: feature
