Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-03, with the labels that each got.

#731 Update Aruba/Cisco Platform logic
  changes/731.changed
  nautobot_ssot/integrations/solarwinds/diffsync/adapters/solarwinds.py
  nautobot_ssot/tests/solarwinds/test_solarwinds_adapter.py
Labels: type: enhancement, integration: solarwinds

#728 SSoT Infoblox integration - New setting for network view to namespace mapping
  changes/726.changed
  docs/admin/integrations/infoblox_setup.md
  nautobot_ssot/integrations/infoblox/diffsync/adapters/infoblox.py
  nautobot_ssot/integrations/infoblox/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/infoblox/diffsync/models/infoblox.py
  nautobot_ssot/integrations/infoblox/diffsync/models/nautobot.py
  nautobot_ssot/integrations/infoblox/forms.py
  nautobot_ssot/integrations/infoblox/models.py
  nautobot_ssot/integrations/infoblox/signals.py
  nautobot_ssot/integrations/infoblox/utils/diffsync.py
  nautobot_ssot/migrations/0012_ssotinfobloxconfig_infoblox_network_view_to_namespace_map.py
  nautobot_ssot/templates/nautobot_ssot_infoblox/ssotinfobloxconfig_retrieve.html
  nautobot_ssot/templates/nautobot_ssot_infoblox/ssotinfobloxconfig_update.html
  nautobot_ssot/tests/infoblox/fixtures_infoblox.py
  nautobot_ssot/tests/infoblox/test_infoblox_adapter.py
  nautobot_ssot/tests/infoblox/test_models.py
  nautobot_ssot/tests/infoblox/test_nautobot_adapter.py
  nautobot_ssot/tests/infoblox/test_utils.py
  tasks.py
Labels: type: enhancement, integration: infoblox

#732 SolarWinds Integration features changes for custom_property and location_override filtering.
  changes/732.changed
  changes/732.fixed
  docs/user/integrations/solarwinds.md
  nautobot_ssot/integrations/solarwinds/diffsync/adapters/solarwinds.py
  nautobot_ssot/integrations/solarwinds/jobs.py
  nautobot_ssot/integrations/solarwinds/utils/solarwinds.py
  nautobot_ssot/tests/solarwinds/conftest.py
  nautobot_ssot/tests/solarwinds/fixtures/get_container_nodes_custom_property.json
  nautobot_ssot/tests/solarwinds/fixtures/get_nodes_custom_property.json
  nautobot_ssot/tests/solarwinds/test_jobs.py
  nautobot_ssot/tests/solarwinds/test_solarwinds_adapter.py
Labels: type: bug, type: enhancement, integration: solarwinds

#735 DNA Center Throws KeyError During Building Load
  changes/734.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  poetry.lock
  pyproject.toml
Labels: type: bug, integration: dna center

#738 Fix Loading of AP Ports in Meraki
  changes/737.fixed
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  nautobot_ssot/integrations/meraki/utils/meraki.py
  nautobot_ssot/tests/meraki/fixtures/get_org_uplink_addresses_by_device.json
  nautobot_ssot/tests/meraki/test_adapters_meraki.py
Labels: type: bug, integration: meraki

#741 Add Migration for SoR CustomField
  changes/740.fixed
  nautobot_ssot/migrations/0013_update_solarwinds_customfields.py
Labels: type: bug, integration: solarwinds

#743 Add Mermaid Diagrams
  changes/743.documentation
  docs/dev/diagrams.md
  mkdocs.yml
Labels: type: documentation
