Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-04, with the labels that each got.

#763 Drop Python 3.8 Support
  .github/workflows/ci.yml
  changes/762.dependencies
  poetry.lock
  pyproject.toml
Labels: type: housekeeping, type: technical debt

#716 Fix All Devices Assigned to Same Building When Duplicate Building Names Used
  changes/708.fixed
  nautobot_ssot/integrations/dna_center/diff.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/jobs.py
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/dna_center/test_adapters_nautobot.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
Labels: type: bug, integration: dna center

#766 Sync Main to Develop for 3.6.0
  changes/+nautobot-app-v2-4-2.housekeeping
  changes/632.added
  changes/687.fixed
  changes/692.changed
  changes/695.fixed
  changes/696.documentation
  changes/697.fixed
  changes/702.fixed
  changes/703.fixed
  changes/705.added
  changes/707.fixed
  changes/708.fixed
  changes/710.fixed
  changes/717.fixed
  changes/721.fixed
  changes/726.changed
  changes/729.fixed
  changes/731.changed
  changes/732.changed
  changes/732.fixed
  changes/734.fixed
  changes/737.fixed
  changes/739.fixed
  changes/740.fixed
  changes/743.documentation
  changes/744.added
  changes/745.added
  changes/748.fixed
  changes/750.fixed
  changes/762.dependencies
  docs/admin/compatibility_matrix.md
  docs/admin/integrations/infoblox_setup.md
  docs/admin/release_notes/version_3.6.md
  docs/user/integrations/solarwinds.md
  mkdocs.yml
  pyproject.toml
Labels: type: housekeeping, type: technical debt

#771 Fix DLM Dependency Matching
  changes/764.dependencies
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/utils/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/device42/utils/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/librenms/utils/nautobot.py
  nautobot_ssot/tests/aristacv/test_utils_nautobot.py
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/test_setup.py
  nautobot_ssot/tests/device42/unit/test_utils_nautobot.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
  nautobot_ssot/tests/test_utils.py
  nautobot_ssot/utils.py
  poetry.lock
  pyproject.toml
Labels: type: technical debt, dependencies, integration: ciscoaci, integration: cloudvision, integration: device42, integration: dna center, integration: bootstrap, integration: librenms

#768 Fix Error Loading IPAddressToInterface In DNA Center
  changes/767.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
Labels: type: bug, integration: dna center

#773 Infoblox Integration - The default value for the Network Views to Nautobot Namespace setting should be a dictionary (#772)
  changes/772.fixed
  docs/admin/integrations/infoblox_setup.md
  nautobot_ssot/integrations/infoblox/models.py
Labels: integration: infoblox

#761 Fixes #760, bootstrap scheduled_job User update
  changes/760.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: bug, integration: bootstrap

#779 Bootstrap prefix update fixes for description and tags
  changes/778.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: bug, integration: bootstrap
