Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-09, with the labels that each got.

#947 Import filters from integrations.
  changes/947.fixed
  nautobot_ssot/filters.py
Labels: type: bug

#955 Update Python Target Version for Ruff
  changes/954.housekeeping
  pyproject.toml
Labels: type: housekeeping

#971 Release 3.9.4
  docs/admin/release_notes/version_3.9.md
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  poetry.lock
  pyproject.toml
Labels: type: housekeeping, dependencies, integration: meraki

#972 Sync Main to Develop for 3.9.4
  changes/962.fixed
  changes/968.security
  docs/admin/release_notes/version_3.9.md
  pyproject.toml
Labels: type: housekeeping

#909 Add abstract base classes for contrib adapter and models
  changes/877.added
  nautobot_ssot/contrib/adapter.py
  nautobot_ssot/contrib/base.py
  nautobot_ssot/contrib/model.py
  nautobot_ssot/tests/contrib/nautobot_model/test_method_get_synced_parameters.py
  nautobot_ssot/tests/contrib/test_sorting.py
Labels: integration: contrib
