Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-07, with the labels that each got.

#880 bootstrap integration: validatedSW, auto-add missing SW
  changes/880.changed
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: integration: bootstrap, type: feature

#899 Revert "bootstrap integration: validatedSW, auto-add missing SW"
  changes/880.changed
  changes/899.housekeeping
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/bootstrap.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: housekeeping

#905 fix: bootstrap validated_software missing version
  changes/904.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: bug, integration: bootstrap

#906 fix: bootstrap missing Secret in SecretsGroup
  changes/881.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
Labels: type: bug, integration: bootstrap

#917 Update bootstrap signal DLM validation
  changes/916.fixed
  nautobot_ssot/integrations/bootstrap/signals.py
Labels: type: bug, integration: bootstrap

#927 Fix issue with metadata_type when contrib models are used without the contrib adapter.
  changes/926.fixed
  nautobot_ssot/contrib/model.py
Labels: integration: contrib
