Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-01, with the labels that each got.

#642 Bootstrap: fix imports for ipam models
  .github/workflows/ci.yml
  changes/641.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/models/bootstrap.py
  nautobot_ssot/tests/infoblox/test_tags_and_cfs.py
Labels: type: bug, integration: bootstrap

#647 Fix Wrong Parent Prefix in Citrix ADM
  changes/646.fixed
  nautobot_ssot/integrations/citrix_adm/diffsync/adapters/citrix_adm.py
  nautobot_ssot/integrations/citrix_adm/diffsync/models/nautobot.py
Labels: type: bug, integration: citrix adm

#631 Add SolarWinds SSoT Integration
  .github/CODEOWNERS
  README.md
  changes/631.added
  changes/631.changed
  development/creds.example.env
  development/development.env
  development/nautobot_config.py
  docs/admin/install.md
  docs/admin/integrations/index.md
  docs/admin/integrations/solarwinds_setup.md
  docs/images/solarwinds_dashboard.png
  docs/images/solarwinds_detail-view.png
  docs/images/solarwinds_enabled_job.png
  docs/images/solarwinds_external_integration.png
  docs/images/solarwinds_job_form.png
  docs/images/solarwinds_job_list.png
  docs/images/solarwinds_job_settings.png
  docs/images/solarwinds_jobresult.png
  docs/images/solarwinds_password_secret.png
  docs/images/solarwinds_secretsgroup.png
  docs/images/solarwinds_username_secret.png
  docs/user/integrations/index.md
  docs/user/integrations/solarwinds.md
  mkdocs.yml
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/solarwinds/__init__.py
  nautobot_ssot/integrations/solarwinds/constants.py
  nautobot_ssot/integrations/solarwinds/diffsync/__init__.py
  nautobot_ssot/integrations/solarwinds/diffsync/adapters/__init__.py
  nautobot_ssot/integrations/solarwinds/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/solarwinds/diffsync/adapters/solarwinds.py
  nautobot_ssot/integrations/solarwinds/diffsync/models/__init__.py
  nautobot_ssot/integrations/solarwinds/diffsync/models/base.py
  nautobot_ssot/integrations/solarwinds/diffsync/models/nautobot.py
  nautobot_ssot/integrations/solarwinds/diffsync/models/solarwinds.py
  nautobot_ssot/integrations/solarwinds/jobs.py
  nautobot_ssot/integrations/solarwinds/signals.py
  nautobot_ssot/integrations/solarwinds/utils/__init__.py
  nautobot_ssot/integrations/solarwinds/utils/nautobot.py
  nautobot_ssot/integrations/solarwinds/utils/solarwinds.py
  nautobot_ssot/jobs/__init__.py
  nautobot_ssot/tests/solarwinds/__init__.py
  nautobot_ssot/tests/solarwinds/conftest.py
  nautobot_ssot/tests/solarwinds/fixtures/get_container_nodes.json
  nautobot_ssot/tests/solarwinds/fixtures/get_nodes_custom_property.json
  nautobot_ssot/tests/solarwinds/fixtures/get_top_level_containers.json
  nautobot_ssot/tests/solarwinds/fixtures/node_details.json
  nautobot_ssot/tests/solarwinds/test_jobs.py
  nautobot_ssot/tests/solarwinds/test_solarwinds_adapter.py
  nautobot_ssot/tests/solarwinds/test_utils_solarwinds.py
  poetry.lock
  pyproject.toml
Labels: type: major feature, integration: solarwinds

#649 Fix Citrix ADM Removing Used SoftwareVersions
  changes/648.fixed
  nautobot_ssot/integrations/citrix_adm/diffsync/models/nautobot.py
  nautobot_ssot/integrations/meraki/diffsync/models/nautobot.py
  tasks.py
Labels: type: bug, integration: meraki, integration: citrix adm

#636 Add LibreNMS Integration
  .github/CODEOWNERS
  README.md
  changes/636.added
  development/development.env
  development/nautobot_config.py
  docs/admin/install.md
  docs/admin/integrations/index.md
  docs/admin/integrations/librenms_setup.md
  docs/images/librenms-external-integration.png
  docs/user/integrations/index.md
  docs/user/integrations/librenms.md
  mkdocs.yml
  nautobot_ssot/__init__.py
  nautobot_ssot/integrations/librenms/constants.py
  nautobot_ssot/integrations/librenms/diffsync/adapters/__init__.py
  nautobot_ssot/integrations/librenms/diffsync/adapters/librenms.py
  nautobot_ssot/integrations/librenms/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/librenms/diffsync/models/__init__.py
  nautobot_ssot/integrations/librenms/diffsync/models/base.py
  nautobot_ssot/integrations/librenms/diffsync/models/librenms.py
  nautobot_ssot/integrations/librenms/diffsync/models/nautobot.py
  nautobot_ssot/integrations/librenms/fixtures/get_librenms_devices.json
  nautobot_ssot/integrations/librenms/fixtures/get_librenms_locations.json
  nautobot_ssot/integrations/librenms/fixtures/get_librenms_port_detail.json
  nautobot_ssot/integrations/librenms/fixtures/get_librenms_ports.json
  nautobot_ssot/integrations/librenms/jobs.py
  nautobot_ssot/integrations/librenms/signals.py
  nautobot_ssot/integrations/librenms/static/nautobot_ssot_librenms/librenms.svg
  nautobot_ssot/integrations/librenms/utils/__init__.py
  nautobot_ssot/integrations/librenms/utils/librenms.py
  nautobot_ssot/integrations/librenms/utils/nautobot.py
  nautobot_ssot/tests/librenms/__init__.py
  nautobot_ssot/tests/librenms/fixtures/__init__.py
  nautobot_ssot/tests/librenms/fixtures/get_librenms_devices.json
  nautobot_ssot/tests/librenms/fixtures/get_librenms_locations.json
  nautobot_ssot/tests/librenms/fixtures/get_librenms_port_detail.json
  nautobot_ssot/tests/librenms/fixtures/get_librenms_ports.json
  nautobot_ssot/tests/librenms/test_librenms_adapter.py
  nautobot_ssot/tests/librenms/test_nautobot_adapter.py
Labels: type: enhancement, type: major feature, integration: librenms

#652 Fix Device Floor Name to Match Loaded
  changes/650.fixed
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
Labels: type: bug, integration: dna center

#653 Correct ACI LocationType To Match Job Settings
  changes/597.fixed
  nautobot_ssot/integrations/aci/diffsync/models/nautobot.py
Labels: type: bug, integration: ciscoaci

#657 Librenms manufacturers fix
  changes/656.fixed
  nautobot_ssot/integrations/librenms/constants.py
Labels: type: bug, integration: librenms

#662 Fix CI in Main for 3.4.0
  changes/656.fixed
  changes/659.housekeeping
  nautobot_ssot/integrations/librenms/constants.py
  nautobot_ssot/tests/test_jobs.py
Labels: type: housekeeping

#660 Preserve ACI Tag color and device types settings
  changes/654.fixed
  nautobot_ssot/integrations/aci/signals.py
Labels: type: bug, integration: ciscoaci

#665 Skip OOB IP address population if mgmt tenant listed in ignore_tenant
  changes/564.fixed
  nautobot_ssot/integrations/aci/diffsync/adapters/aci.py
Labels: type: bug, integration: ciscoaci

#679 Remove Unused SolarWinds Dependency
  changes/675.dependencies
  docs/admin/integrations/solarwinds_setup.md
  poetry.lock
  pyproject.toml
Labels: dependencies, integration: solarwinds

#674 Nautobot to LibreNMS job
  changes/672.added
  docs/user/integrations/librenms.md
  nautobot_ssot/integrations/librenms/diffsync/adapters/librenms.py
  nautobot_ssot/integrations/librenms/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/librenms/diffsync/models/base.py
  nautobot_ssot/integrations/librenms/diffsync/models/librenms.py
  nautobot_ssot/integrations/librenms/diffsync/models/nautobot.py
  nautobot_ssot/integrations/librenms/jobs.py
  nautobot_ssot/integrations/librenms/utils/__init__.py
  nautobot_ssot/integrations/librenms/utils/librenms.py
  nautobot_ssot/tests/librenms/fixtures/__init__.py
  nautobot_ssot/tests/librenms/fixtures/add_device_failure.json
  nautobot_ssot/tests/librenms/fixtures/add_device_ping_fallback.json
  nautobot_ssot/tests/librenms/fixtures/add_device_success.json
  nautobot_ssot/tests/librenms/fixtures/add_location_failure.json
  nautobot_ssot/tests/librenms/fixtures/add_location_success.json
  nautobot_ssot/tests/librenms/fixtures/get_librenms_devices.json
  nautobot_ssot/tests/librenms/test_librenms_model.py
Labels: type: enhancement, type: major feature, integration: librenms

#684 Fix Duplicate Location Error in Meraki
  changes/680.fixed
  nautobot_ssot/integrations/meraki/diffsync/adapters/nautobot.py
Labels: type: bug, integration: meraki
