Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-05, with the labels that each got.

#777 Few DNAC Tweaks
  .github/workflows/ci.yml
  changes/708.fixed
  development/development.env
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/tests/dna_center/fixtures.py
  nautobot_ssot/tests/dna_center/fixtures/expected_dnac_location_map_multi_level_locations.json
  nautobot_ssot/tests/dna_center/fixtures/get_device_detail_multi_level.json
  nautobot_ssot/tests/dna_center/fixtures/get_multi_level_locations.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info_recv.json
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/dna_center/test_adapters_nautobot.py
  nautobot_ssot/tests/dna_center/test_jobs.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
  poetry.lock
  pyproject.toml
Labels: type: bug, integration: dna center

#794 Fix Prefix MultipleObjectsReturned Error in Citrix ADM Integration
  changes/793.fixed
  nautobot_ssot/integrations/citrix_adm/diffsync/models/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
Labels: type: bug, integration: dna center, integration: citrix adm

#797 Release v3.7.0
  .github/workflows/ci.yml
  development/development.env
  docs/admin/integrations/infoblox_setup.md
  docs/admin/release_notes/version_3.6.md
  docs/admin/release_notes/version_3.7.md
  docs/dev/jobs.md
  docs/user/modeling.md
  mkdocs.yml
  nautobot_ssot/contrib/adapter.py
  nautobot_ssot/contrib/sorting.py
  nautobot_ssot/contrib/typeddicts.py
  nautobot_ssot/contrib/types.py
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/utils/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/bootstrap/diffsync/models/nautobot.py
  nautobot_ssot/integrations/citrix_adm/diffsync/models/nautobot.py
  nautobot_ssot/integrations/device42/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/device42/utils/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/dna_center.py
  nautobot_ssot/integrations/dna_center/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/dna_center/diffsync/models/base.py
  nautobot_ssot/integrations/dna_center/diffsync/models/nautobot.py
  nautobot_ssot/integrations/infoblox/models.py
  nautobot_ssot/integrations/librenms/utils/nautobot.py
  nautobot_ssot/integrations/slurpit/diffsync/adapters/slurpit.py
  nautobot_ssot/integrations/slurpit/diffsync/models/models.py
  nautobot_ssot/integrations/slurpit/jobs.py
  nautobot_ssot/jobs/base.py
  nautobot_ssot/tests/aristacv/test_utils_nautobot.py
  nautobot_ssot/tests/bootstrap/fixtures/global_settings.json
  nautobot_ssot/tests/bootstrap/test_setup.py
  nautobot_ssot/tests/contrib/__init__.py
  nautobot_ssot/tests/contrib/test_sorting.py
  nautobot_ssot/tests/contrib_base_classes.py
  nautobot_ssot/tests/device42/unit/test_utils_nautobot.py
  nautobot_ssot/tests/dna_center/fixtures.py
  nautobot_ssot/tests/dna_center/fixtures/expected_dnac_location_map_multi_level_locations.json
  nautobot_ssot/tests/dna_center/fixtures/get_device_detail_multi_level.json
  nautobot_ssot/tests/dna_center/fixtures/get_multi_level_locations.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info.json
  nautobot_ssot/tests/dna_center/fixtures/get_port_info_recv.json
  nautobot_ssot/tests/dna_center/test_adapters_dna_center.py
  nautobot_ssot/tests/dna_center/test_adapters_nautobot.py
  nautobot_ssot/tests/dna_center/test_jobs.py
  nautobot_ssot/tests/dna_center/test_models_nautobot.py
  nautobot_ssot/tests/test_contrib_adapter.py
  nautobot_ssot/tests/test_utils.py
  nautobot_ssot/utils.py
  poetry.lock
  pyproject.toml
Labels: integration: dna center, integration: bootstrap, integration: citrix adm, integration: slurpit

#799 Fix AuthFailure During Version Check in CVP Integration
  changes/796.fixed
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
Labels: type: bug, integration: cloudvision

#800 Sync Main to Develop for 3.7.0
  changes/457.added
  changes/708.fixed
  changes/709.dependencies
  changes/760.fixed
  changes/764.dependencies
  changes/767.fixed
  changes/772.fixed
  changes/778.fixed
  changes/780.fixed
  changes/781.fixed
  changes/787.fixed
  changes/793.fixed
  docs/admin/release_notes/version_3.7.md
  mkdocs.yml
  pyproject.toml
Labels: type: housekeeping

#820 Fix Check for DLM Installed Before Loading ValidatedSoftware
  changes/819.fixed
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
Labels: type: bug, integration: bootstrap

#817 Fix Meraki Creating Duplicate IP Addresses
  changes/807.fixed
  development/development.env
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/meraki/diffsync/models/base.py
  nautobot_ssot/integrations/meraki/diffsync/models/nautobot.py
  nautobot_ssot/integrations/meraki/utils/meraki.py
  nautobot_ssot/tests/meraki/test_adapters_meraki.py
  nautobot_ssot/tests/meraki/test_adapters_nautobot.py
  nautobot_ssot/tests/meraki/test_utils_meraki.py
Labels: type: bug, integration: meraki

#806 Fix gRPC Exception in CVP Integration
  changes/467.fixed
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/models/base.py
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/tests/aristacv/test_utils_cloudvision.py
Labels: type: bug, integration: cloudvision

#821 Release v3.8.0
  .cookiecutter.json
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .gitignore
  development/creds.example.env
  development/development.env
  development/docker-compose.base.yml
  development/docker-compose.dev.yml
  development/docker-compose.mysql.yml
  development/docker-compose.postgres.yml
  development/nautobot_config.py
  development/towncrier_template.j2
  docs/admin/integrations/bootstrap_setup.md
  docs/admin/integrations/ipfabric_setup.md
  docs/admin/release_notes/version_3.8.md
  docs/assets/overrides/partials/copyright.html
  docs/dev/dev_environment.md
  docs/index.md
  docs/user/integrations/bootstrap.md
  docs/user/integrations/ipfabric.md
  docs/user/integrations/solarwinds.md
  docs/user/performance.md
  mkdocs.yml
  nautobot_ssot/__init__.py
  nautobot_ssot/contrib/sorting.py
  nautobot_ssot/integrations/aristacv/diffsync/adapters/cloudvision.py
  nautobot_ssot/integrations/aristacv/diffsync/models/base.py
  nautobot_ssot/integrations/aristacv/diffsync/models/nautobot.py
  nautobot_ssot/integrations/aristacv/utils/cloudvision.py
  nautobot_ssot/integrations/bootstrap/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/ipfabric/constants.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_ipfabric.py
  nautobot_ssot/integrations/ipfabric/diffsync/adapter_nautobot.py
  nautobot_ssot/integrations/ipfabric/diffsync/diffsync_models.py
  nautobot_ssot/integrations/ipfabric/jobs.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/meraki.py
  nautobot_ssot/integrations/meraki/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/meraki/diffsync/models/base.py
  nautobot_ssot/integrations/meraki/diffsync/models/nautobot.py
  nautobot_ssot/integrations/meraki/utils/meraki.py
  nautobot_ssot/migrations/0014_alter_sync_start_time_alter_synclogentry_timestamp.py
  nautobot_ssot/models.py
  nautobot_ssot/tests/aristacv/test_utils_cloudvision.py
  nautobot_ssot/tests/contrib/test_sorting.py
  nautobot_ssot/tests/ipfabric/fixtures/get_device_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_interface_inventory.json
  nautobot_ssot/tests/ipfabric/fixtures/get_stack_members.json
  nautobot_ssot/tests/ipfabric/test_ipfabric_adapter.py
  nautobot_ssot/tests/meraki/test_adapters_meraki.py
  nautobot_ssot/tests/meraki/test_adapters_nautobot.py
  nautobot_ssot/tests/meraki/test_utils_meraki.py
  poetry.lock
  pyproject.toml
  tasks.py
Labels: type: housekeeping, integration: ipfabric, integration: cloudvision, integration: contrib, integration: bootstrap, integration: meraki

#823 disable sorting
  changes/822.changed
  nautobot_ssot/jobs/base.py
Labels: type: bug, integration: contrib

#825 Release 3.8.0 to Develop
  changes/+nautobot-app-v2.5.0.housekeeping
  changes/467.fixed
  changes/7154.added
  changes/796.fixed
  changes/802.fixed
  changes/807.fixed
  changes/811.fixed
  changes/812.added
  changes/813.added
  changes/814.fixed
  changes/815.fixed
  changes/816.fixed
  changes/819.fixed
  docs/admin/release_notes/version_3.8.md
  mkdocs.yml
  pyproject.toml
Labels: type: housekeeping

#826 Release v3.8.1
  docs/admin/release_notes/version_3.8.md
  nautobot_ssot/jobs/base.py
  pyproject.toml
Labels: type: housekeeping, type: technical debt, integration: contrib

#785 Overwrite _handle_typed_dict
  changes/784.fixed
  nautobot_ssot/contrib/adapter.py
Labels: type: enhancement, integration: contrib
