Repository nautobot/nautobot-app-ssot, pull requests merged in 2025-08, with the labels that each got.

#873 Separate custom relationship handling from nautobotadapter
  changes/860.added
  changes/860.changed
  nautobot_ssot/contrib/adapter.py
  nautobot_ssot/tests/utils/test_orm.py
  nautobot_ssot/tests/utils/test_typing.py
  nautobot_ssot/utils/orm.py
  nautobot_ssot/utils/types.py
  nautobot_ssot/utils/typing.py
Labels: integration: contrib

#941 U/smk4664 validate create update
  changes/910.fixed
  nautobot_ssot/integrations/servicenow/diffsync/adapter_servicenow.py
  nautobot_ssot/integrations/servicenow/diffsync/models.py
Labels: type: bug, integration: servicenow

#943 Fix Citrix ADM Throwing IP Error
  changes/940.fixed
  nautobot_ssot/integrations/citrix_adm/diffsync/adapters/citrix_adm.py
  nautobot_ssot/integrations/citrix_adm/diffsync/adapters/nautobot.py
  nautobot_ssot/integrations/citrix_adm/diffsync/models/base.py
  nautobot_ssot/integrations/citrix_adm/diffsync/models/nautobot.py
  nautobot_ssot/tests/citrix_adm/test_adapters_citrix_adm.py
  nautobot_ssot/tests/citrix_adm/test_adapters_nautobot.py
  nautobot_ssot/tests/citrix_adm/test_models_nautobot.py
Labels: type: bug, integration: citrix adm
